.filter-bar {
	width: 1156px;
	height: 79px;
	display: flex;
	padding-left: 40px;
	padding-right: 20px;
	box-sizing: border-box;
	align-items: center;
	border-bottom: 2px solid #EAEDF2;
}

.filter-bar .date-filter {
	width: 148px;
	height: 39px;
}

.filter-bar .date-filter {
	margin-left: 455px;
}

.filter-bar .filter-btn {
	border: 1px #CECECE solid;
	border-radius: 10px;
	font-size: 17px;
	color: #878686;
	background-color: #FFFFFF;
	margin-left: 20px;
	width: 122px;
	height: 39px;
}