<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside class="side-bar d-none">
	<div class="profile">
		<span class="name">임한응</span>
		<span class="position">사원</span>
	</div>
	<div class="profile-hr">
		<hr />
	</div>

	<nav>
		<section>
			<h1>내 근무 정보</h1>
			<ul>
				<li>
					<a href="register">근무시간입력</a>
				</li>
				<li>
					<a href="list">근무시간조회</a>
				</li>
			</ul>
		</section>

		<section>
			<h1>설정</h1>
			<ul>
				<li>
					<a href="">설정</a>
				</li>
			</ul>
		</section>
	</nav>
</aside>

</html>