<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pop up</title>

    <link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="../../css/util.css">
    <link rel="stylesheet" href="../../css/hr-admin/component/exception-pop-up.css">
</head>
<body>
    <div class="pop-up-wrap">
        <header class="pop-up-head">
            <h1 class="pop-up-title title-head">비고</h1>
            <div class="btn-exit">
                <img src="/img/Group226.svg" alt="">
            </div>
            <!-- 헤더 바텀 라인 필요 -->
        </header>
        <section class="pop-up-sec">
            <h1 class="pop-up-title title-con">사전 예외 신청</h1>
            <div class="pop-up-con">
                <span></span>
            </div>
        </section>
    </div>
</body>
</html>