<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사 생성</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/util.css">
    <link rel="stylesheet" href="../css/component/button.css">
    <link rel="stylesheet" href="../css/sign-up/create-company.css">
    <link rel="stylesheet" href="../css/sign-up/sign-up-header.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>


<body>
    <div class="wrap">

        <header class="sign-up-header">
            <div class="header-left">
                <a href="../sign-up/select.html"></a>
            </div>
            <h1 class="title">회사 생성</h1>
            <div class="header-rignt"></div>
        </header>

        <section class="section-wrap"> 
            <form action="" method="get">
                <label for="company-name">회사명을 입력해주세요.</label>
                <input type="text" id="company-name" name="company-name" class="company-name" placeholder="회사명 입력"/>
                
                <div class="btn-wrap">
                    <button type="button" class="btn-blue">
                        <a href="../admin-select.html">시작하기</a>
                    </button>
                    <button type="button" class="btn-white">
                        <a href="../login.html">취소</a> 
                    </button>
                </div>
                
            </form>

        </section>
    </div>
</body>
</html>