<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=\, initial-scale=1.0">
	<title>회사 찾기</title>

	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/util.css" />
	<link rel="stylesheet" href="../css/component/search-input.css" />
	<link rel="stylesheet" href="../css/component/button.css" />
	<link rel="stylesheet" href="../css/sign-up/find-company.css" />
	<link rel="stylesheet" href="../css/sign-up/sign-up-header.css" />

</head>

<body>

	<div class="wrap">
		<header class="sign-up-header">
			<div class="header-left">
				<a href="../sign-up/select"></a>
			</div>
			<h1 class="title">회사 찾기</h1>
			<div class="header-rignt"></div>
		</header>

		<div class="search-input">
			<input type="text" class="input-box" placeholder="회사명 검색">
			<div class="search-icon"></div>
		</div>

		<div class="com-search-result">
			<div></div>
		</div>
		
		<div class="btn-wrap">
			<button class="btn-blue" onClick="location.href='../sign-up/waiting'">요청하기</button>
			<button class="btn-white" onClick="location.href='../login'">취소</button>
		</div>
		

	</div>


</body>

</html>