<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/util.css" />
    <link rel="stylesheet" href="../css/component/search-input.css" />
    <link rel="stylesheet" href="../css/component/button.css" />
    <link rel="stylesheet" href="../css/sign-up/sign-up-header.css" />
    <link rel="stylesheet" href="../css/sign-up/select.css" />
</head>

<body>
    <div class="wrap">

        <header class="sign-up-header">
            <div class="header-left"></div>
            <div class="header-rignt"></div>
        </header>

        <h1>회사 선택 또는 <br>
            회사를 생성해주세요.</h1>
        <section class="comany-selecter">

            <button type="button"><span>회사 생성</span>
                <span>서비스를 이용할 회사를 생성합니다.</span>
            </button>

            <button type="button"><span>회사 찾기</span>
                <span>나의 회사를 찾습니다.</span>
            </button>
        </section>
        <div>
</body>

</html>