<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원가입</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/util.css">
    <link rel="stylesheet" href="../css/component/button.css">
    <link rel="stylesheet" href="../css/sign-up/user-info.css">
    <link rel="stylesheet" href="../css/sign-up/sign-up-header.css">

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
		integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
	<div class="wrap">

        <header class="sign-up-header">
            <div class="header-left">
                <a href="../login"></a>
            </div>
            <h1 class="title">회원가입</h1>
            <div class="header-rignt"></div>
        </header>


		<!-- 입력영역 영역 -->
		<div class="sign-up-box1">
			<div class="sign-up-input">

				<form action="/sign-up/user-info" class="sign-up-form" method="post">
                    <div class="form-box">
                            <div class="name">
                                <label for="user-name">이름</label>
                                <input class="name-input" id="user-name" name="user-name" type="text" placeholder="이름">
                            </div>
                            
                            <div class="email">
                                <label for="user-email">이메일 주소</label>
                                <input class="email-inputxp" id="user-email" name="user-email" type="text" placeholder="이메일 주소 입력">
                            </div>

                            <div class="pw">
                                <label for="user-pw">비밀번호</label>
                                <input class="pw-input" id="user-email" name="user-pw" type="password" placeholder="영문, 숫자 특수문자 조합 8자리 이상">
                            </div>

                            <div class="pw-check">
                                <label for="user-pw-check">비밀번호 확인</label>
                                <input class="pw-check-input" id="user-pw-check" name="user-pw-check" type="password" placeholder="동일한 비밀번호 입력">
                            </div>

                            <div class="phone-number">
                                <label for="user-phone-number">휴대폰 번호</label>

                                <div class="number-and-button">
                                <input class="phone-number-input" id="user-phone-number" name="user-phone-number" type="tel" placeholder="-없이 번호 입력">
                                <button type="button" class="certification-receive-btn">인증번호 받기</button>
                                </div>
                                
                            </div>

                            <div class="certification">
                                <label for="user-certification">인증번호</label>
                                <input class="certification-btn"  id="user-certification" name="user-certification" type="text" placeholder="인증번호 입력">
                            </div>
                    </div>

                    <button type="submit" class="btn-blue">다음</button>
                    
                    
                </form>

            </div>
        </div>


</body>

</html>