
.section-wrap{
    margin-top: 50px;
}

.section-wrap label{

    margin-left: 13px;

    font-size: 13px;
    font-weight: 500;
    
    text-align: left;
}

.section-wrap input{

       /* 가운데 정렬 */
       margin: 8px auto 0; 
       /* 위 8px, 좌우정렬, 아래 0  */

       width: 335px;
       height: 40px;
       border-radius: 10px;
       box-sizing: border-box;
       box-shadow: 5px 5px 20px rgb(0 0 0 / 8%);
       
       display: flex;
       align-items: center;

       border: thin;
       border-style: solid;
       border-color: #C6CDD6;


}

.section-wrap input[placeholder]{
    padding-left: 15px;
} 


.btn-wrap{
    margin-top: 35px;
} 

   

