<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamBus.web.repository.EmployeeRepository">

	<resultMap id="EmployeeResultMap" type="Employee">
		<result property="companyId" column="company_id" />
		<result property="phoneNumber" column="phone_number" />
		<result property="joinDate" column="join_date" />
		<result property="joinStatus" column="join_status" />
	</resultMap>

	<resultMap id="adminListDayViewResultMap" type="AdminListDayView">
		<result property="companyId" column="company_id" />
		<result property="clockIn" column="clock_in" />
		<result property="breakTimeStart" column="break_time_start" />
		<result property="breakTimeEnd" column="break_time_end" />
		<result property="clockOut" column="clock_out" />
		<result property="exId" column="ex_id" />
	</resultMap>

	<select id="findAll" resultMap="EmployeeResultMap">
		select *
		from employee
	</select>

	<select id="findById" resultMap="EmployeeResultMap">
		select *
		from employee
		where id =
		#{id}
	</select>

	<insert id="insertNew" parameterType="Employee">
		insert into
		employee(company_id, password, name, phone_number, email)
		values
		(#{companyId}, #{password}, #{name}, #{phoneNumber}, #{email})
	</insert>
	
	<update id="update" parameterType="Employee">
		update employee
		<set>
			<if test="password != null">password = #{password},</if>
			<if test="name != null">name = #{name},</if>
			<if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
			<if test="image != null">image = #{image},</if>
			<if test="department != null">department = #{department},</if>
			<if test="position != null">position = #{position},</if>
			<if test="authority != null">authority = #{authority},</if>
			<if test="joinStatus != null">join_status = #{joinStatus}</if>
		</set>
		where id= #{id}
	</update>

	<delete id="delete">
		delete
		from employee
		where id = #{id}
	</delete>


	<!-- view -->
	<select id="findViewByCompanyId" resultMap="adminListDayViewResultMap"> 
		select * from admin_list_day_view
		where company_id = #{companyId}
	</select>

</mapper>
