.rest-editor-box {
  height: 455px;
  width: 360px;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  /* transition: all 0.6s ease-in-out;
  transform:translateY(0); */
  /* transform: scale(1, 0); */
  
}

.rest-editor {
  display: block;
  background-color: rgb(255, 255, 255);
  height: 420px;
  width: 100%;
  border-top: 35px solid #FFF;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.rest-editor-box>hr {
  position: absolute;
  height: 5px;
  width: 20%;
  border: 0px;
  margin: 15px 40% 0 40%;
  background-color: #5A8FE0;
  border-radius: 50px;
}

.rest-editor>h1 {
  font-size: 18px;
  padding-left: 30px;
}

.rest-editor>hr {
  height: 1px;
  background-color: #d9d9d9;
  border: none;
  margin: 20px 20px 0px 20px;
}

.rest-edit-box {
  width: 300px;
  text-align: center;
  margin: 65px auto auto;
}

.rest-editor>button {
  width: 200px;
  height: 45px;
  display: block;
  margin: 0 auto;
  margin-top: 81px;
  border-radius: 15px;
  font-size: 1rem;
  text-align: center;
  background-color: #5A8FE0;
  color: white;
}


/* --------------------------------- 시간임시 */


.choose-date-btn {
  margin: 0 auto;
  width : 196px;
  height : 26px;
  display : flex;
  box-sizing: content-box;

}

.choose-date-btn #minus-s, #minus-e,.choose-date-btn #plus-s,#plus-e{
  width : 25px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
}
.choose-date-btn #minus-s, #minus-e {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='16.7' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_498_867)'%3E%3Cpath d='M9.41016 1.41L4.83016 6L9.41016 10.59L8.00016 12L2.00016 6L8.00016 -6.16331e-08L9.41016 1.41Z' fill='%23878686'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_498_867'%3E%3Crect width='12' height='12' fill='white' transform='matrix(4.37114e-08 -1 -1 -4.37114e-08 12 12)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");  
  background-color: transparent;

  border: 1px solid #CECECE;
  border-radius: 100%
}

.choose-date-btn  #plus-s,#plus-e {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='16.7' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_498_864)'%3E%3Cpath d='M2.58984 1.41L7.16984 6L2.58984 10.59L3.99984 12L9.99984 6L3.99984 -6.16331e-08L2.58984 1.41Z' fill='%23878686'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_498_864'%3E%3Crect width='12' height='12' fill='white' transform='translate(0 12) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  
  border: 1px solid #CECECE;
  border-radius: 100%

}

.choose-date-btn .choose-date {
  margin: 0 auto;
  width : 150px;
  font-family: 'Note Sans KR', sans-serif;
  font-weight: bold;
  font-size: 18px;

  line-height: 1.7;
  /* identical to box height */
  
  text-transform: lowercase;
  text-align: center;
}

.from-text-box{

  /* 사이즈관련  */
  width : 196px;
  margin: 30px auto;
  margin-top: 30px;


  /* 정렬 */
  text-align: center;


  /* 폰트 */
  color: #A4A6A9;

  
}
